@import "tailwindcss";

body {
  /* background-color: black; */
}

.box {
  height: 200px;
  width: 200px;
  background-color: crimson;
  border: 3px solid white;
}

.circle {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  border: 3px solid white;
  border-radius: 50%;
}
